.link-to-resume {
	padding: 8px 16px;
	border-radius: var(--lumo-border-radius-m);
	background-color: var(--lumo-primary-color-10pct);
	color: var(--lumo-primary-text-color);
	font-weight: 600;
	cursor: pointer;


	gap: 8px;

	transition: background-color 0.2s, box-shadow 0.2s;
}

.link-to-resume:hover {
	background-color: var(--lumo-primary-color-50pct);
	text-decoration: none;

}

.link-to-resume:active {
	box-shadow: var(--lumo-box-shadow-s);
}