[theme="navbar-link"] {
	padding: var(--lumo-space-xs) var(--lumo-space-m);
	border-radius: var(--lumo-border-radius-m);
	color: var(--lumo-primary-contrast-color);

}
[theme="navbar-link"]:not([highlight]) {

	background-color: var(--lumo-primary-color);

}

[theme="navbar-link"][highlight] {
	background-color: var(--lumo-primary-color-50pct);
}

[theme="navbar-link"]:hover {
	background-color: var(--lumo-primary-color-10pct);
	text-decoration: none;

}