/* Styles for the button-like RouterLink */
[theme~="next-page-link"] {
	/* display: inline-flex;
	align-items: center;
	justify-content: center; */
	padding: 8px 16px;
	border-radius: var(--lumo-border-radius-m);
	/* background-color: var(--lumo-primary-color); */
	font-weight: 600;
	cursor: pointer;

	text-decoration: none;

	gap: 8px;

	transition: background-color 0.2s, box-shadow 0.2s;

	color: var(--lumo-shade);
	background-color: var(--lumo-contrast-30pct);
}

[theme~="next-page-link"]:hover {
	background-color: var(--lumo-tint-50pct);
}

[theme~="next-page-link"]:active {
	box-shadow: var(--lumo-box-shadow-s);
}