[theme~="only-on-touchscreen"] {
	display: inline-flex;
}

[theme~="only-on-desktop"] {
	display: none;
}

@media (min-width: 1024px) {
	[theme~="only-on-touchscreen"] {
		display: none;
	}

	[theme~="only-on-desktop"] {
		display: inline-flex;
	}
}