.only-on-touchscreen {
	display: inline-flex;
}

.only-on-desktop {
	display: none;
}

@media (min-width: 1024px) {
	.only-on-touchscreen {
		display: none;
	}

	.only-on-desktop {
		display: inline-flex;
	}
}