.page {
	background-color: var(--lumo-tint-90pct);
}

@media (min-width: 1024px) {
	.page {
		/* min-height: 70dvh; */
		margin: var(--vaadin-gap-xl);
		border-radius: var(--lumo-border-radius-l) var(--lumo-border-radius-l) var(--lumo-border-radius-l) var(--lumo-border-radius-l);
		box-shadow: var(--lumo-box-shadow-xl);
	}
}