@import 'on-media-hider.css';
@import 'page.css';
@import 'toggle-language-button.css';
@import 'modern-audio-player.css';

html {
	--lumo-input-field-pointer-focus-visible: 1;
	/* --lumo-primary-color: orange; */
	/* --lumo-secondary-color: orange; */
	/* --lumo-tertiary-color: orange; */
	/* --lumo-primary-color-50pct: orange; */
	/* --lumo-font-family: 'Roboto'; */
}

html {
	background-color: #FFFFFF;
	background-image: url("blob-scene-haikei.svg");
	background-attachment: fixed;
	background-size: cover;
}